---
layout: default
---

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Personajes Historicos</span>
    </div>
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Tales de Mileto</a>
            <a href="#fixed-tab-2" class="mdl-layout__tab">Anaximandro</a>
            <a href="#fixed-tab-3" class="mdl-layout__tab">Pitagoras</a>
            <a href="#fixed-tab-4" class="mdl-layout__tab">Euclides</a>
            <a href="#fixed-tab-5" class="mdl-layout__tab">Arquimedes</a>
            <a href="#fixed-tab-6" class="mdl-layout__tab">Tolomeo</a>
            <a href="#fixed-tab-7" class="mdl-layout__tab">Heron de Alejandria</a>
            <a href="#fixed-tab-8" class="mdl-layout__tab">AbulWefa Al Sufi</a>
            <a href="#fixed-tab-9" class="mdl-layout__tab">IbnYunis</a>
            <a href="#fixed-tab-10" class="mdl-layout__tab">Leonardo Da Vinci</a>
            <a href="#fixed-tab-11" class="mdl-layout__tab">Nicolas Copernico</a>
            <a href="#fixed-tab-12" class="mdl-layout__tab">TychoBrahe</a>
            <a href="#fixed-tab-13" class="mdl-layout__tab">Galileo Galilei</a>
            <a href="#fixed-tab-14" class="mdl-layout__tab">Johannes Kepler</a>
            <a href="#fixed-tab-15" class="mdl-layout__tab">Evangelista Torricelli</a>
            <a href="#fixed-tab-16" class="mdl-layout__tab">Simon Stevin</a>
            <a href="#fixed-tab-17" class="mdl-layout__tab">William Gilbert</a>
            <a href="#fixed-tab-18" class="mdl-layout__tab">Albert Einstein</a>
        </div>
  </header>
  {% include nav.html%}
  <main class="mdl-layout__content">
  <a name="top"></a>
  
  <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content"></div>
  </section>
  <section class="mdl-layout__tab-panel" id="fixed-tab-2">
      <div class="page-content"></div>
  </section>
  <section class="mdl-layout__tab-panel" id="fixed-tab-3">
      <div class="page-content"></div>
  </section>
  <section class="mdl-layout__tab-panel" id="fixed-tab-4">
      <div class="page-content"></div>
  </section>
  <section class="mdl-layout__tab-panel" id="fixed-tab-5">
      <div class="page-content"></div>
  </section>
  <section class="mdl-layout__tab-panel" id="fixed-tab-6">
      <div class="page-content"></div>
  </section>
  <section class="mdl-layout__tab-panel" id="fixed-tab-7">
      <div class="page-content"></div>
  </section>
  <section class="mdl-layout__tab-panel" id="fixed-tab-8">
      <div class="page-content"></div>
  </section>
  <section class="mdl-layout__tab-panel" id="fixed-tab-9">
      <div class="page-content"></div>
  </section>
  <section class="mdl-layout__tab-panel" id="fixed-tab-10">
      <div class="page-content"></div>
  </section>
  <section class="mdl-layout__tab-panel" id="fixed-tab-11">
      <div class="page-content"></div>
  </section>
  <section class="mdl-layout__tab-panel" id="fixed-tab-12">
      <div class="page-content"></div>
  </section>
  <section class="mdl-layout__tab-panel" id="fixed-tab-13">
      <div class="page-content"></div>
  </section>
  <section class="mdl-layout__tab-panel" id="fixed-tab-14">
      <div class="page-content"></div>
  </section>
  <section class="mdl-layout__tab-panel" id="fixed-tab-15">
      <div class="page-content"></div>
  </section>
  <section class="mdl-layout__tab-panel" id="fixed-tab-16">
      <div class="page-content"></div>
  </section>
  <section class="mdl-layout__tab-panel" id="fixed-tab-17">
      <div class="page-content"></div>
  </section>
  <section class="mdl-layout__tab-panel" id="fixed-tab-18">
      <div class="page-content"></div>
  </section>
  {% include footer.html%}
  </main>
</div>