.mdl-layout--fixed-header{
	 background: url("./img/logo-bg/MilkyWay.jpg") no-repeat center/cover ; 
}

.drawer-separator{
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

/* --------------------------
		Navigation
----------------------------- */
@media screen and (min-width: 1200px){
.mdl-layout__tab-bar {
    width: calc(100% - 56px);
    padding: 0 0 0 56px;
	}
}
@media screen and (max-width: 768px){
	.mdl-layout__tab-bar {
    width: calc(100%);
    padding: 0 0 0 0;
	}
}

/* --------------------------
		Carousel
----------------------------- */
#myCarousel .item {height: 500px;}

#slide1 {
	background: url("./img/carousel/car1.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#slide2 {
	background: url("./img/carousel/car2.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#slide3 {
	background: url("./img/carousel/car3.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#slide4 {
	background: url("./img/carousel/car4.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#slide5 {
	background: url("./img/carousel/car5.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#slide6 {
	background: url("./img/carousel/car6.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#slide7 {
	background: url("./img/carousel/car7.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* ------------------------
		Media Queries
	------------------------ */
/*portrait & landscape phone*/
@media (max-width: 480px){
	#myCarousel .item {height: 310px;}
}

/*landscape phone to portrait tablet*/
@media (min-width: 768px){
	#myCarousel .item {height: 800px;}
}

/*large desktop*/
@media (min-width: 1000px){
	#myCarousel .item {height: 580px;}
}

/*end of carousel*/

/*-----------------------
	Card en historia
-----------------------*/

#historia > .mdl-card__title{
	background: url('./img/carousel/car1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}
.mdl-card__title-text{
	color: white;
}


/*-----------------------
	Cards on personajes
-----------------------*/
.mdl-card__supporting-text{
	width: 100%;
	text-align: justify;
}
/*-----------------------------
	imganes en personajes
------------------------------*/
#tales{
	background: url('./img/personajes/tales.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}
#anaximandro{
	background: url('./img/personajes/anaximandro.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}
#pitagoras{
	background: url('./img/personajes/pitagoras.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}
#euclides{
	background: url('./img/personajes/euclides.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}
#arquimedes{
	background: url('./img/personajes/arquimedes.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}
#tolomeo{
	background: url('./img/personajes/tolomeo.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}
#heron{
	background: url('./img/personajes/heron.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}
#abul{
	background: url('./img/personajes/abul.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}
#ibn{
	background: url('./img/personajes/ibn.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}
#leonardo{
	background: url('./img/personajes/leonardo.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}
#nicolas{
	background: url('./img/personajes/nicolas.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}
#tycho{
	background: url('./img/personajes/tycho.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}
#galileo{
	background: url('./img/personajes/galileo.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}
#kepler{
	background: url('./img/personajes/kepler.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}
#torricelli{
	background: url('./img/personajes/torricelli.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}
#simon{
	background: url('./img/personajes/simon.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}
#william{
	background: url('./img/personajes/william.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}
#albert{
	background: url('./img/personajes/albert.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 300px;
}

/*---------------------*/
.dowte{
	text-align: center;
}

.down img{
	width:400px;
	height:250px;
}