.mdl-layout--fixed-header{
	 background: url("./img/MilkyWay.jpg") no-repeat center/cover ; 
}
/*Carousel*/
/*.carousel{
	background-color: transparent;
}
.carousel img{
	min-width: 440px;
	min-height: 500px;
	max-width: 1200px;
	max-height: 481px;
}*/
#myCarousel .item {height: 480px;}

#slide1 {
	background: url("./img/foto1.png") center no-repeat;
}
#slide2 {
	background: url("./img/Albert-Einstein-genius.jpg") center no-repeat;
}
#slide3 {
	background: url("./img/TalesDeMileto.png") center no-repeat;
}
/* ------------------------
		Media Queries
	------------------------ */
/*portrait & landscape phone*/
@media (max-width: 480px){

}

/*landscape phone to portrait tablet*/
@media (max-width: 768px){
	#myCarousel .item {height: 310px;}

	#slide1 {
		background: url("./img/foto1.png") center no-repeat;
	}
	#slide2 {
		background: url("./img/Albert-Einstein-genius.jpg") center no-repeat;
	}
	#slide3 {
		background: url("./img/TalesDeMileto.png") center no-repeat;
	}
}

/*large desktop*/
@media (min-width: 1200px){
	#myCarousel .item {height: 580px;}

	#slide1 {
		background: url("./img/foto1.png") center no-repeat;
	}
	#slide2 {
		background: url("./img/Albert-Einstein-genius.jpg") center no-repeat;
	}
	#slide3 {
		background: url("./img/TalesDeMileto.png") center no-repeat;
	}
}

/*end of carousel*/
#texto{
	margin-left: 10px;
	color: white;
}
#texto img{
	width: auto;
	height: 250px;
	margin-left: 250px;
}
#right img{
	width:150px;
	height:100px;
	border:3px solid black;
	border-radius: 5px;
	padding:1px;
	display: block;
	background-color: #4A99ED;
}
#logo{
	width: auto;
	height: 45px;
}

#navbar {
	position: relative;
	top:-60px;
	left:55%;
	margin-left:-400px;
	background-color: transparent;
}
#navbar ul{
	list-style-type: none;
	position: relative;
	margin: -10px;
	background-color: transparent;
}
#navbar li {
	display: inline-block;
	border: 2px solid red;
	font-family: Tahoma, sans-serif;
	color: red;
	padding: 20px;
	border-radius: 10px 10px;
	background-color:transparent;
}
p {
	font-family: Tahoma;
	font-size: 1em;
}
#bottom_left{
	border-bottom-left-radius: 15px;
}

#bottom_right{
	border-bottom-right-radius: 15px;
}
#footer{
	padding-left: 0px;
	width: 100%;
	bottom: 0;
	position: fixed;
	color:#4A99ED;
}
#imagendescarga{
	margin-left:180px; 
}
#imagendescarga h3{
	margin-left: 370px;
}
#imagendescarga img{
	display: inline-block;
	max-width: 300px;
	max-height: 275px;
	color: white;
	text-decoration: none;
}
#imagendescarga a:hover {
	color: #cc0000;
	font-weight: bold;
	text-decoration: none;
}
#imagendescarga a:link{
    color:white;
    text-decoration:none;
}
#imagendescarga a:visited{
    color:#cc0000;
}
