html{
	 background: url(Imagenes/MilkyWay.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
body{
	background-color: transparent;
}
.carousel{
	background-color: transparent;
}
.carousel img{
	margin-left: 420px;
	max-width: 900px;
	max-height: 500px;
}
.carousel-inner .item .tales img{
	margin-left: 200px;
}
.carousel-inner .item .einstein img{
	margin-left: 230px;
}
.carousel-inner .item .everyone img{
	margin-left: 300px;
}
.carousel-inner .item .presentacion img{
	margin-left: 230px;
}
.carousel-inner .item .ejemplos img{
	margin-left: 230px;
}
#texto{
	margin-left: 10px;
	color: white;
}
#texto img{
	width: auto;
	height: 250px;
	margin-left: 250px;
}
#right img{
	width:150px;
	height:100px;
	border:3px solid black;
	border-radius: 5px;
	padding:1px;
	display: block;
	background-color: #4A99ED;
}
#logo{
	background-color: transparent;
	border: none;
	width: auto;
	height: 75px;
	margin-left: 230px;
	margin-top:25px;
}

#navbar {
	position: relative;
	top:-60px;
	left:55%;
	margin-left:-400px;
	background-color: transparent;
}
#navbar ul{
	list-style-type: none;
	position: relative;
	margin: -10px;
	background-color: transparent;
}
#navbar li {
	display: inline-block;
	border: 2px solid red;
	font-family: Tahoma, sans-serif;
	color: red;
	padding: 20px;
	border-radius: 10px 10px;
	background-color:transparent;
}
p {
	font-family: Tahoma;
	font-size: 1em;
}
#bottom_left{
	border-bottom-left-radius: 15px;
}

#bottom_right{
	border-bottom-right-radius: 15px;
}
#footer{
	padding-left: 0px;
	width: 100%;
	bottom: 0;
	position: fixed;
	color:#4A99ED;
}
#imagendescarga{
	margin-left:180px; 
}
#imagendescarga h3{
	margin-left: 370px;
}
#imagendescarga img{
	display: inline-block;
	max-width: 300px;
	max-height: 275px;
	color: white;
	text-decoration: none;
}
#imagendescarga a:hover {
	color: #cc0000;
	font-weight: bold;
	text-decoration: none;
}
#imagendescarga a:link{
    color:white;
    text-decoration:none;
}
#imagendescarga a:visited{
    color:#cc0000;
}
