<!-- Navigation menu -->
	<div class="mdl-layout__drawer">
		<span class="mdl-layout-title">Main Menu</span>
	    <nav class="mdl-navigation">
	    	<div class="drawer-separator"></div>
	    	<a class="mdl-navigation__link" href="{{site.baseurl}}">Inicio</a>
	    	<a class="mdl-navigation__link" href="{{site.baseurl}}/personajes.html">Personajes Historicos</a>
			<a class="mdl-navigation__link" href="{{site.baseurl}}/principios.html">Principios de la Fisica</a>
			<a class="mdl-navigation__link" href="{{site.baseurl}}/Presentacion.pdf">Presentacion</a>
			<a class="mdl-navigation__link" href="{{site.baseurl}}/ejemplos.pdf">Ejmeplos</a>
			<a class="mdl-navigation__link" href="{{site.baseurl}}/descargas.html">Descargas</a>
	        <div class="mdl-layout--small-screen-only">
	            <div class="drawer-separator"></div>
	            <a class="mdl-navigation__link" href="{{site.baseurl}}/#">Help</a>
	            <a class="mdl-navigation__link" href="{{site.baseurl}}/#">About</a>
	        </div>
	    </nav>
	</div>