<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Historia fisica</title>
    <link rel="shortcut icon" href="{{site.baseurl}}/img/logo.ico"/>
    <!-- Bootstrap -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
    <!-- MDL -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.3/material.cyan-green.min.css"/>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.3/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- MY CSS -->
    <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
    </head>
<body>
    {{content}}
</body>
</html>