---
layout: default
---

<a href="{{site.baseurl}}"><img id="logo" src="{{site.baseurl}}/img/atom.png"/></a>
  <div id="navbar">
        <ul>
            <a href="{{site.baseurl}}"><li>Inicio</li></a>
            <a href="personajes.html"><li>Personajes Historicos</li></a>
            <a href="historia.html"><li>Historia</li></a>
            <a target="_blank" href="Presentacion.pdf"><li>Presentacion</li></a>
            <a target="_blank" href="ejemplos.pdf"><li>Ejemplos</li></a>
            <a href="descargas.html"><li>Descargas</li></a>
        </ul>
</div>